<%- include('../layout/header') %>
    <main class="main">
        <div class="cart-icon pt-100 pb-100">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <h2 class="text-warning text-center"> Thank You ! </h2>
        <h4 class="text-center">Order Successful</h2>
        <div class="cart-action text-center pt-100 pb-100">
           <% if(typeof orderId != "undefined &&orderId"){ %>
            <a class="btn  mr-10 mb-sm-15" href="/orderdetails/?orderId=<%=orderId %>"><i class="fi-rs-shuffle mr-10"></i>View OrderDetails</a>  
           <% } %>
           
            <a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
        </div>
    </main>
<%-include('../layout/footer') %>