<%- include('../layout/header') %>
    <main class="main">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                          <div class="col-lg-5 centered-form">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">OTP VALIDATION</h3>
                                        </div>
                                        <%if(typeof signup !== "undefined" && signup == 1){ %>
                                            <form method="post" action="/signupotpvalidation/?id=<%= user._id %>">  
                                        <% }else{ %>
                                            <form method="post" action="/otpvalidation/?id=<%= user._id %>">
                                        <% } %>
                                            <div class="form-group">
                                                <input type="text" required name="otp" placeholder="Enter OTP"  >
                                            </div>
                                          
                                          
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="verify" value="verify">VERIFY</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('../layout/footer') %>