<%- include('../layout/header') %>
<main class="main container mt-15 mb-100">
        <div class="card p-4 ">
            <div class="card-header">
                <h3 class="mb-0 text-info">Hello User!</h3>
            </div>
            <div class="card-body">
                <p>From your account dashboard, you can easily check &amp; view your
                    <a href="/userorders">recent orders</a>, manage your
                    <a href="/useraddresses">shipping and billing addresses</a>, and
                    <a href="/useraccount">edit your password and account details.</a>
                </p>
                <div class="cta-buttons d-flex justify-content-around mt-4">
                    <a href="/useraddresses" class="btn btn-danger btn-lg">
                        <i class="fas fa-map-marker-alt"></i> My Address
                    </a>
                    <a href="/useraccount" class="btn btn-danger btn-lg">
                        <i class="fas fa-user"></i> My Account
                    </a>
                    <a href="/userorders" class="btn btn-danger btn-lg">
                        <i class="fas fa-shopping-cart"></i> My Orders
                    </a>
                    <a href="/wallet" class="btn btn-danger btn-lg">
                        <i class="fas fa-wallet"></i> My Wallet
                    </a>
                </div>
            </div>
        </div>
</main>



  
<%-include('../layout/footer') %>