<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>FunForge-Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- script for Datatable -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
 
    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" defer="defer"></script>
   
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/funforge_logo.jpg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link " href="/gadgetly/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link " href="/gadgetly/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/loadAddProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/userlist"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/userorders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">UserOrders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/salesreport"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Salesreport</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/coupons"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupuns</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/gadgetly/admin/referrals"> <i class=" icon material-icons md-card_giftcard"></i>
                        <span class="text">Referrals</span>
                    </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
          <% if(typeof Search != "undefined" && Search){ %>
            <div class="col-search">
              <form class="searchform">
                  <div class="input-group">
                      <input list="search_terms" type="text" class="form-control" placeholder="Search term" name="search" value="<%=searchTerm %>">
                      <button class="btn btn-light bg" type="submit" value="search"> <i class="material-icons md-search"></i></button>
                  </div>
              </form>
          </div>
          <% }else{ %>
            <div class="col-search">
              <form class="searchform">
                  <div class="input-group">
                      <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                      <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                  </div>
                  <!-- <datalist id="search_terms">
                      <option value="Products">
                      <option value="New orders">
                      <option value="Apple iphone">
                      <option value="Ahmed Hassan">
                  </datalist> -->
              </form>
          </div>
          <% } %>

            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item mr-10">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-small btn-outline-danger" href="/gadgetly/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                    </li>
                    <li class="nav-item ml-15">
                         <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                    </li>
                </ul>
            </div>
        </header>